/.AfpTextDescriptionLabelProvider.java._trace
/.AfpTextDescriptionLabelProvider.xtendbin
/.AfpTextLabelProvider.java._trace
/.AfpTextLabelProvider.xtendbin
/AfpTextDescriptionLabelProvider.java
/AfpTextLabelProvider.java
